nav{
  height: 50px;
  border: 1px solid #dfdfdf;
  background-color: #272727;
}

.div-header{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-svg{
  height: 30px;
  width: 30px;
  color: #fffdd0;
}
.div-title{
  height: 100%;
  color: #fffdd0;
  padding: 0 10px;
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div-title h1{
  color: #fffdd0;
  height: 25px;
  font-size: 30px;
}

.div-title h2{
  color: #fffdd0;
  height: 9px;
  font-size: 18px;
}
